body {
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.contenedor{
    background-color: brown;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 40px red;
    padding: 20px;
    width: 90%;
}