<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="contenedor">
        <h2>usuario</h2>
        <form method="POST">
            <button>registrar</button>
            <input type="text" placeholder="ingrese su nombre" name="nombre">
            <input type="email" placeholder="ingrese su correo" name="correo">
        </form>
        <table>
                
        </table>
    </div>


</body>
</html>