<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="contenedor">
        <h2 style="color: blanchedalmond;">usuario</h2>
        <form method="POST">
            <input type="text" placeholder="ingrese su nombre" name="nombre" required>
            <input type="email" placeholder="ingrese su correo" name="correo" required>
            <button>registrar</button>
        </form>
        <table>
            <tr><th>id</th><th>nombre_usuario</th><th>correo_usuario</th><th>acciones</th></tr>
            {% for persona in usuario %}
            <tr>
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.correo }}</td>
                <td><a href="/update/{{ persona.id }}">editar</a>|<a href="/?eliminar={{ persona.id }}">eliminar</a></td>
            </tr>

            {% endfor %}
        </table>
    </div>


</body>
</html>