<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITAR</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="contenedor">
        <h2 style="color: blanchedalmond;">editar usuario</h2>
        <form method="POST">
            <input type="number" name="id" value="{{ usuario_a_editar.id }}" readonly>
            <input type="text" placeholder="ingrese su nombre" name="nombre" value="{{ usuario_a_editar.nombre }}" required>
            <input type="email" placeholder="ingrese su correo" name="correo" value="{{ usuario_a_editar.correo }}" required>
            <button>actualizar</button>
        </form>
        <button style="margin-top: 10px; background-color:blanchedalmond">
            <a href="/" style="color:black; text-decoration:none">
            Regresar
        </a></button>
    </div>  
</body>
</html>